*.log
*.aux
Syllabus.synctex.gz
Unit Assignments and Assessments/.DS_Store
Unit Assignments and Assessments/Algebra 2 Chapter 4/Assessment.synctex.gz
Unit Assignments and Assessments/Algebra 2 Chapter 4/Assignment.synctex.gz
Unit Assignments and Assessments/Algebra 2 Chapter 5/Assessment.synctex.gz
Unit Assignments and Assessments/Algebra 2 Chapter 5/Assignment.synctex.gz
Unit Assignments and Assessments/Algebra 2 Chapter 6/.DS_Store
Unit Assignments and Assessments/Algebra 2 Chapter 6/Assessment.synctex.gz
Unit Assignments and Assessments/Algebra 2 Chapter 6/Assignment.synctex.gz
Unit Assignments and Assessments/Algebra 2 Chapter 7/Assignment.synctex.gz
Unit Assignments and Assessments/Algebra 2 Chapter 7/Assessment.synctex.gz
